// いらなくなった。


// .content
//   .userbox
//     .userbox__top
//       .userbox__top__left
//         // アイコン表示部分
//         .userbox__top__left__icon
//           -if @image.present?
//             = image_tag @image.url, width: '100%'
//     (省略)
//     // プロフィール表示部分
//     .userbox__bottom
//       = simple_format(@profile)
//     (省略)