

  <h2>User info</h2>
  <img class="attachment user profile_image fallback"><table class="table">
  <!--<tbody>-->
   <p>name：<%= user.name %></p>
   <p>introduction: <%= user.introduction %></p>
  <!-- <th>name</th>-->
	 <!--<th>introduction</th>-->
  <!--</tbody>-->

  <a href="/users/id/edit"></a>
    <h2>New book</h2>
    <label for="book_title">Title</label>
    <input class="form-control book_title" type="text" name="book[title]" id="book_title">

    <label for="book_opinion">Opinion</label>
    <textarea class="form-control book_body" name="book[body]" id="book_body"></textarea>

    <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
